<div class="container">
<h1>Games <%= @game.id %></h1>
<h2>Status : <%= @game.status %></h2>
<div class="cloudcontain1">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain2">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain3">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain4">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
<h2>Fruits</h2>
<%= render 'fruit' %>

<h2>Dé</h2>
<div class="item">
  <div class="<%=@game.dice.showing_face%>">
  </div>
</div>
<p>Dernier tirage : <%=@game.dice.showing_face%></p>
<%= button_to "Lancez le Dé", roll_dice_path %>

<h2>Corbeau</h2>
<%= render 'test' %>
<p>Avancement : <%=@game.crow.advancement%></p>

<%= button_to "Avancez le corbeau", crow_step_path %>
<br><br>
<%= button_to "gagner", games_win_path %>
<br><br>
<%= button_to "perdu", games_lost_path %>
<br><br><br><br>
<div class="sand"></div>
</div>

