<div class="container">
<h1>Games <%=@game.id%></h1>
<div class="cloudcontain1">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain2">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain3">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
  <div class="cloudcontain4">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>
  
<h2>Fruits</h2>
<%@game.fruits.on_tree.each do |fruit|%>
<div class="item">
  <div class="<%=fruit.color%>"></div>
<%= link_to "x", crop_fruit_path(fruit) %>
</div>

<%end%>

<h2>Dé</h2>
<div class="item">
  <div class="<%=@game.dice.showing_face%>">
  </div>
</div>
<p>Dernier tirage : <%=@game.dice.showing_face%></p>
<%= button_to "Lancez le Dé", roll_dice_path %>

<h2>Corbeau</h2>
<div class="view_crow">
  <div class="view_crow__eye">
    <div class="view_crow__eye_1">
      <div class="view_crow__eye_2"></div>
    </div>
  </div>
  <div class="view_crow__pecker"></div>
  <div class="view_crow__wing"></div>
</div>
<p>Avancement : <%=@game.crow.advancement%></p>

<%= button_to "Avancez le corbeau", crow_step_path %>
<div class="sand"></div>
</div>